*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: #17161b;
  color: #FFFFFF;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

ul {
  padding-left: 0;
}

ul>li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}

:root {
  --text-size-mini: 1.2rem;
  --text-size-medium: 1.6rem;
  --text-size-large: 2rem;
  --line-height-default: 115%;

  --plum: #8066F6;
  --orange: #E1784F;
  --azure: #63CFE1;
}

.header,
.aside,
.main {
  font-size: var(--text-size-medium);
  line-height: var(--line-height-default);
}

/*наши */

h6 {
  font-size: var(--text-size-large);
  font-weight: 400;
  line-height: 115%;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 116.7%;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}

/* заголовки*/

.header {
  grid-area: my-header;
  padding: 3rem 2.4rem 1.5rem;
  background-color: #19181d;
  box-shadow: 0 .4rem 1rem rgba(255, 255, 255, 0.07);
}

.aside {
  grid-area: my-aside;
}

.main {
  grid-area: my-main;
  padding: 0 2.4rem 4rem 0;
}

.grid {
  display: grid;
  grid-template-areas:
    "my-header my-header my-header"
    "my-aside my-main my-main";
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 8rem 0;
}

.grid-init {
  max-width: 144rem;
  margin: auto;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 7rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 117.2%;
}

.header__nav {
  margin-right: 9.2rem;
}

.header__nav a.active {
  border-bottom: 3px solid #FFFFFF;
}

.header__nav a {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 116.7%;
}

.header__nav a:not(:last-child) {
  margin-right: 2.5rem;
}

.header__find {
  margin-right: 3.9rem;
}

.header__find input {
  padding: .9rem 4.5rem .9rem 1rem;
  border-radius: .8rem;
  background: #2b2a2f url(../img/find.svg);
  background-repeat: no-repeat;
  background-position: top 1.02rem right 1.5rem;

  font-size: var(--text-size-large);
  color: #FFFFFF;
}

.header__find input::placeholder {
  color: #FFF;
}

.header__date {
  margin-right: 8.6rem;
  text-align: center;
  font-size: var(--text-size-mini);
  line-height: 183%;
}

.header__personal {
  min-width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  overflow: hidden;
}

.header__personal img {
  object-fit: cover;
  object-position: center center;
}

.main-display__bg {
  position: relative;
  padding: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
}

.main-display__trailer {
  height: 20.2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/main-display__trailer.jpeg) center center/cover no-repeat;
}

.main-display__views {
  font-weight: 700;
  line-height: 118.8%;
}

.main-display__date {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 114.3%;
}

.main-display__trailer>.button-play {
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-play {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.07) url(../img/play.svg) 54% center no-repeat;
  width: 8.1rem;
  height: 8.1rem;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);
}

.button-play.small {
  width: 3rem;
  height: 3rem;
  background-size: .8rem;
}

.button-play.small-small {
  width: 1.8rem;
  height: 1.8rem;
  background-size: .6rem;
}


.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;
}

div:not(:first-child) .title {
  margin-top: 3.5rem;
}

.title__left,
.title__right {
  display: flex;
  align-items: baseline;
}

.title__count {
  margin-left: 2rem;
  font-size: var(--text-size-large);
  color: rgba(255, 255, 255, 0.2);
}

.title__right {
  font-size: 1.4rem;
  line-height: 114%;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}

.title__all-movies img {
  margin-left: 0.6rem;
  width: .8rem;
  height: 1.2rem;
}

.playlist-wrap {
  display: flex;
  justify-content: space-between;
}

.continue__item {
  padding: 0;
  width: 47%;
  height: 25.1rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/item-img.jpeg) center center/cover no-repeat;
  justify-content: end;
}

.tranding-plash,
.item__time {
  padding: .6rem 1.5rem .35rem 1.3rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  line-height: 114%;
}

.tranding-plash {
  background: rgba(255, 255, 255, 0.3);
}

.continue__item .tranding-plash {
  position: absolute;
  top: 1.9rem;
  left: 1.9rem;
}

.item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.9rem;

  background: rgba(255, 255, 255, 0.07);
  border-radius: 1.6rem;
  -webkit-backdrop-filter: blur(.6rem);
  backdrop-filter: blur(.6rem);
}

.popular .item__footer {
  padding: 0.8rem 1.9rem .7rem 1.9rem;
}

.item__left {
  display: flex;
  align-items: center;
}

.continue__name {
  margin-left: 1.5rem;
}

.item__date {
  margin-top: 0.2rem;
  font-size: var(--text-size-mini);
  font-weight: 700;
  line-height: 120%;
}

.item__time {
  background: rgba(255, 255, 255, 1);
  color: #000;
}


.popular__item {
  padding: 0;
  width: 29%;
  height: 19.2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/popular-img.jpeg) center center/cover no-repeat;
  justify-content: end;
}

.popular__name {
  margin-left: 1rem;
}

.popular .item__date {
  font-size: .8rem;
  line-height: 113%;
}

.item__rating {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.item__rating img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
}

.aside {
  padding-right: 3.6rem;
}

.aside .title {
  margin: 0 0 2.6rem;
}

.title__sort-title {
  color: rgba(255, 255, 255, 0.4);
}

.title__sort-select {
  margin-left: 1.5rem;
  color: #FFF;
  display: flex;
  align-items: center;
}

.title__sort-img {
  margin-left: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.4rem;
}

.title__sort-img img {
  width: 0.6rem;
  height: .45rem;
}

.aside-top {
  position: relative;
  padding: 0 2.3rem 4rem 2.4rem;
}

.aside-item {
  width: 100%;
  height: 22.6rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/batman_2022.jpeg) center 45%/cover no-repeat;
  justify-content: end;
}

.aside-item:not(:last-child) {
  margin-bottom: 3rem;
}

.aside-bottom {
  padding: 2.5rem 0 4rem 2.4rem;
  background-color: #1c1b1f;
}

.aside-favourite {
  padding-bottom: 3rem;
}

.aside-header {
  margin-bottom: 2rem;
}

.aside-genre__items {
  max-width: 30rem;
  display: flex;
  flex-wrap: wrap;
}

.genre-plash {
  height: 2.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  margin: 0 3rem 2rem 0;
  font-size: var(--text-size-mini);
  line-height: 116.7%;
  background: #2B2A2F;
  border-radius: 30px;
}

.plum {
  background: var(--plum);
}

.orange {
  background: var(--orange);
}

.azure {
  background: var(--azure);
}

.aside-footer {
  position: relative;
  padding-top: 3rem;
}

.aside-footer::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  width: 6.5rem;
  height: .1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.aside-add {
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
}

.aside-add__around {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: #2B2A2F;
}

.aside-add span {
  margin-left: 0.5rem;
}

.aside-close {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  bottom: 0;
}

.aside-close__line {
  display: block;
  width: .1rem;
  height: 62.1rem;
  background-color: #1C1B1F;
}

.aside-close__button {
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 17%;
  width: 2.2rem;
  height: 2.6rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .5);
  padding: 3rem 0;
  z-index: 1000;
}

.modal__inner {
  width: 100rem;
  height: 60rem;
}

.close {
  display: none;
}

/* сетка */
@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}

/* сетка */